/* component common */
.wrt-tab-header {
    position: sticky;
    min-height: 48px !important;
    height: 48px !important;
    max-height: 48px !important;
    width: 100% !important;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 20px;
    background-color: var(--primary-rgb);
    /* box-shadow: 0px -1px 0px var(--primary-rgb), -1px 0px 0px var(--primary-rgb); */
    color: var(--white);
    z-index: 2002;
}

.wrt-tab-header__menu {
    height: 48px !important;
    max-height: 48px !important;
    /* background-color: var(--primary-rgb); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.wrt-tab-header__menu--extra {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.wrt-tab-header__home {
    height: 48px !important;
    max-height: 48px !important;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.wrt-tab-header__tabs {
    height: 48px !important;
    max-height: 48px !important;
    display: flex;
}

.wrt-tab-header__dropdown {
    width: 120px;
    padding: 6px 0 0 10px;
}

.wrt-tab-header__dropdown .multiselect {
    height: 36px;
    border: none;
}

.wrt-tab-header__dropdown .multiselect__tags {
    border-radius: 5px;
}

.wrt-tab-header__primary {
    height: 48px !important;
    max-height: 48px !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}

.wrt-tab-header__func {
    min-height: 48px !important;
    height: 48px !important;
    max-height: 48px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 16px;
    background-color: var(--primary-rgb);
    position: absolute;
    right: 0;
    top: 0;
}

.wrt-tab-header.wrt-tab-header--border {
    border-bottom: 1px solid #d9d9d9;
}

.wrt-tab-header__title {
    display: inline-block;
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 16.8px;
    color: var(--white);
}

.wrt-tab-header__btn,
.wrt-tab-header__btn--pin,
.wrt-tab-header__btn--top,
.wrt-tab-header__btn--exit {
    display: flex;
    width: 48px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.wrt-tab-header__btn--home {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 10px 4px 0;
    border: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--white);
    fill: var(--white);
}

.wrt-tab-header__btn--navi {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 10px 4px 10px;
    border: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--white);
    fill: var(--white);
}

.wrt-tab-header__btn svg path,
.wrt-tab-header__btn i,
.wrt-tab-header__btn--pin svg path,
.wrt-tab-header__btn--pin i,
.wrt-tab-header__btn--top svg path,
.wrt-tab-header__btn--top i,
.wrt-tab-header__btn--exit svg path,
.wrt-tab-header__btn--exit i {
    width: 16px;
    height: 16px;
    /* fill: var(--primary-rgb);
    color: var(--primary-rgb); */
    fill: var(--white);
    color: var(--white);
}
.wrt-tab-header__btn:hover,
.wrt-tab-header__btn--top:hover {
    background-color: var(--quaternary-rgb);
}
.wrt-tab-header__btn:hover svg path,
.wrt-tab-header__btn:hover i,
.wrt-tab-header__btn--pin:hover svg path,
.wrt-tab-header__btn--pin:hover i,
.wrt-tab-header__btn--top:hover svg path,
.wrt-tab-header__btn--top:hover i,
.wrt-tab-header__btn--exit:hover svg path,
.wrt-tab-header__btn--exit:hover i {
    fill: var(--white);
    color: var(--white);
}

.wrt-tab-header__btn--pin:hover {
    background-color: var(--tertiary-rgb);
}

.wrt-tab-header__btn--exit:hover {
    background-color: var(--danger-rgb);
}

.wrt-tab-header__btn--pin.pinned {
    fill: var(--white);
    color: var(--white);
    background-color: var(--tertiary-rgb);
}

.wrt-tab-header__btn--top.topped {
    fill: var(--white);
    color: var(--white);
    background-color: var(--danger-rgb);
}

.wrt-tab-header__btn--prev {
    display: flex;
    margin: 0;
    padding: 14.5px 0;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16.8px;
    color: var(--black);
    border: 0;
    justify-content: start;
    align-items: center;
    height: 48px;
    width: 50px;
    background-color: transparent;
    color: var(--white);
    fill: var(--white);
}

.wrt-tab-header__btn--prev svg {
    display: inline-block;
}
.wrt-tab-header__btn--prev svg path {
    fill: var(--white);
}
.wrt-tab-header__navi {
    display: flex;
    justify-content: space-between;
}

.wrt-tab-header__navi--divider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10px;
    max-width: 10px;
    margin: 10px 10px 10px 0;
    border-right: 1px solid var(--white);
}

.wrt-tab-header__navi--btn-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1rem;
    border: 0;
    box-shadow: none;
}

.wrt-tab-header__navi--btn-text {
    white-space:nowrap!important;
    line-height: 100%;
    max-width: 100px;
    overflow: hidden;
}

.wrt-tab-header__navi--btn {
    /* max-width: 90px; */
    min-width: 50px;
    height: 44px;
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

.wrt-tab-header__navi--btn:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.wrt-tab-header__navi--btn-hat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrt-tab-header__navi--btn-hat-item {
    height: 8px;
    width: 30px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.wrt-tab-header__navi--btn-plate {
    width: 100%;
    height: 4px;
}

.wrt-tab-header__navi--btn-plate.active {
    background-color: var(--tertiary-rgb);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.wrt-tab-header__navi--btn.list-history {
    min-width: 132px;
}

.wrt-tab-header__navi--btn--alert {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 8px;
    height: 8px;
    background-color: var(--danger-rgb);
    border-radius: 50%;
}
